In [4]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import linear_model
from sklearn.metrics import r2_score

In [8]:
data2 = pd.read_csv(r'C:\Users\mlopez\Documents\dataMLRLM.txt', header=None, names=['Size', 'Bedrooms','Price'])
data2.head()

   Size  Bedrooms   Price
0  2104         3  399900
1  1600         3  329900
2  2400         3  369000
3  1416         2  232000
4  3000         4  539900

In [55]:
data2 = (data2 - data2.mean()) / data2.std()
data2.head()

       Size  Bedrooms     Price
0  0.130010 -0.223675  0.475747
1 -0.504190 -0.223675 -0.084074
2  0.502476 -0.223675  0.228626
3 -0.735723 -1.537767 -0.867025
4  1.257476  1.090417  1.595389

In [56]:
msk = np.random.rand(len(data2)) < 0.8
train = data2[msk]
test = data2[~msk]

In [57]:
regr = linear_model.LinearRegression()
train_x = train[['Size','Bedrooms']]
train_y = train[['Price']]
regr.fit(train_x, train_y)
# Coeficientes
print ('Coeficientes: ', regr.coef_, regr.intercept_)

Coeficientes:  [[ 0.9106877  -0.11074817]] [0.05143556]

In [58]:
test_x = test[['Size','Bedrooms']]
test_y = test[['Price']]
test_y_ = regr.predict(test_x)

print("Mean absolute error: %.2f" % np.mean(np.absolute(test_y_ - test_y)))
print("Residual sum of squares (MSE): %.2f" % np.mean((test_y_ - test_y) ** 2))
print("R2-score: %.2f" % r2_score(test_y , test_y_) )
print('Variance score: %.2f' % regr.score(test_x, test_y))

Mean absolute error: 0.40
Residual sum of squares (MSE): 0.26
R2-score: 0.85
Variance score: 0.85

C:\Users\mlopez\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3438: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

In [59]:
SizeApt = 2000
Bedrooms_amount= 3
z=[SizeApt,Bedrooms_amount]

predict=regr.intercept_+regr.coef_[0,0]*z[0]+regr.coef_[0,1]*z[1]
predict

print('La prediccion de precio es:', predict[0], "$")

La prediccion de precio es: 1821.0945887151329 $